footer {
  background-color: #333; /* Цвет фона подвала */
  color: #fff; /* Цвет текста подвала */
  padding: 20px; /* Отступы внутри подвала */
  position: absolute; /* Фиксированная позиция */
  bottom: 0; /* Прикрепить подвал к нижней грани окна браузера */
  width: 100%; /* Растянуть подвал на всю ширину экрана */
}